#anabaslik {
  
    text-align: center;
    color:blue;
    font-size:5rem;

  }

.baslik{
  text-transform: lowercase;
}

h1{
  text-decoration-line: underline;
}

#lorem {
  text-indent : 3rem;
  margin-left: 90px;
  margin-right: 60px;
  font-size: 1.5rem;
  color: brown;
}

img{
height: 450px;
width: 450px;

}

#resimKutusu{
display: flex;
padding-left: 200px;
}
.donemResimleri{
margin: 10px;
}


.tablonunrenklikismi{
 color: rgb(43, 226, 80);
 background-color: bisque;
}
#kirmizi{
  background-color: brown;
}

#sari{
  background-color: rgb(251, 251, 0);
}
.tablodivi{
 
text-align: center;
 margin: 50px;
 
  padding: 50px;
}