#anabaslik {
  
    text-align: center;
    color:blue;
    font-size:5rem;

  }

#lorem {
  text-indent : 3rem;
  margin-left: 90px;
  margin-right: 60px;
  font-size: 1.5rem;
  color: brown;
}

img{
height: 450px;
width: 450px;

}

#resimKutusu{
display: flex;
padding-left: 200px;
}
.donemResimleri{
margin: 10px;
}
